---
layout: default
title: Ack &amp; Nak Web Comic Archives
description: Ack &amp; Nak web comics going waaaaaaaaaaaay back
keywords: archives
---

<div class="prefix_3 grid_13 alpha omega">
  <div id="archives">
    <h1>Archives</h1>
    <ul>
    {% for comic in site.posts %}
      {% if comic.published %}
      <li>
        {{ comic.date | date: "%Y-%m-%d"}} - 
        <a href="{{ comic.url }}" title="{{ comic.title }}">{{ comic.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
