<div class="grid_3 alpha">
  <div id="navigation">
    <div>
      {% if comic.previous %}
        {% assign earliest_comic = site.posts.last %}
        <span class="nav"><a href="{{ earliest_comic.url }}" title="{{ earliest_comic.title }}">&laquo;</a></span>
        <span class="nav"><a href="{{ comic.previous.url }}" title="{{ comic.previous.title }}">&lsaquo;</a></span>
      {% else %}
        <span class="nav inaccessible">&laquo;</span>
        <span class="nav inaccessible">&lsaquo;</a></span>
      {% endif %}

      {% if comic.next %}
        <span class="nav"><a href="{{ comic.next.url }}" title="{{ comic.next.title }}">&rsaquo;</a></span>
        {% assign latest_comic = site.posts.first %}
        <span class="nav"><a href="{{ latest_comic.url }}" title="{{ latest_comic.title }}">&raquo;</a></span>
      {% else %}
        <span class="nav inaccessible">&rsaquo;</a></span>
        <span class="nav inaccessible">&raquo;</span>
      {% endif %}
    </div>
    
    <div class="nav archives"><a href="/archives.html" title="Ack &amp; Nak web comic archives">Archives</a></div>
  </div>

  <div id="about">
    <div class="caption">{{ comic.content }}</div>
    <div class="published">{{ comic.date | date: "%Y-%m-%d" }}</div>
  </div>
</div>

<div class="grid_13 omega">
  <div id="comic">
    <h1><a href="{{ comic.url }}" title="{{ comic.title }}">{{ comic.title }}</a></h1>
    <img src="/images/comics/{{ comic.comic }}" width="{{ comic.width }}" height="{{ comic.height }}" alt="{{ comic.alt }}" title="{{ comic.alt }}" />
  </div>
</div>
